<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" parallel="classes" thread-count="2">

    <!--TODO This wont work
    Two tests in the same suite [BDD Test Suite] cannot have the same name: Test
	at org.testng.xml.internal.XmlSuiteUtils.ensureNoDuplicateTestsArePresent(XmlSuiteUtils.java:65)
	at org.testng.xml.internal.XmlSuiteUtils.validateIfSuitesContainDuplicateTests(XmlSuiteUtils.java:30)
	at org.testng.TestNG.sanityCheck(TestNG.java:981)
	at org.testng.TestNG.run(TestNG.java:1010)
	at org.testng.IDEARemoteTestNG.run(IDEARemoteTestNG.java:72)
	at org.testng.RemoteTestNGStarter.main(RemoteTestNGStarter.java:123)
	-->

    <test name="UserTableInterfaceTest">
        <classes>
            <class name="hw6.RunUserTableInterfaceTest"/>
        </classes>
    </test>
    <test name="RunServiceTest" annotations="JDK" preserve-order="true">
        <classes>
            <class name="hw6.RunServicePageInterfaceTest"/>
        </classes>
    </test>
</suite>