<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" parallel="classes" thread-count="2">
    <test name="Test">
        <classes>
            <class name="hw6.RunUserTableInterfaceTest"/>
        </classes>
    </test>
    <test name="Test" annotations="JDK" preserve-order="true">
        <classes>
            <class name="hw6.RunServicePageInterfaceTest"/>
        </classes>
    </test>
</suite>