<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="HW5" parallel="methods" thread-count="3">
    <test name="HW5" >
        <groups>
            <run>
                <include name="HW5"/>
            </run>
        </groups>
        <classes>
            <class name="hw4.ServicePageInterfaceTest"/>
            <class name="hw4.DatesPageSlidersTest"/>
            <class name="hw5.ServicePageInterfaceTestUnwork"/>
        </classes>
    </test>
</suite>